<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<h1><%= @question.content %></h1>
		</div>
	</div>
	<div class="row" style="position: relative" id="poll_block">
		<% @answers.each do |answer| %>
				<div class="col-xs-6 box" >
					<%= link_to question_answer_path(question_id: params[:id], l_or_r: answer.id),
					            remote:true  do %>
						<%= image_tag("#{answer.avatar}", id: "imag-answer", class: "img-thumbnail") %>
						<div class="box-content">
							<h2 class="title"><%= answer.content %></h2>
						</div>
					<% end %>
				</div>
		<% end %>
		<%= image_tag "or.png", id: "imag-or", class: "img-circle" %>
	</div>
	<hr>
	<!--空的div用来显示answer-->
	<div class="row" id="answer_block"></div>
</div>