<div class="container">
	<div id="myCarousel" class="carousel slide">
		<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag 'step1.jpg', alt: 'First', class: 'img-responsive' %>
			</div>
			<div class="item">
				<%= image_tag 'step2.jpg', alt: 'Second', class: 'img-responsive' %>
			</div>
			<div class="item">
				<%= image_tag 'step3.jpg', alt: 'Third', class: 'img-responsive' %>
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel"
		   data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel"
		   data-slide="next">&rsaquo;</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-5">
			<%= link_to '开始', categories_path, class: 'btn btn-success btn-lg' %>
			or
			<%= link_to '继续', root_path, class: 'btn btn-warning btn-lg' %>
		</div>
	</div>
</div>