<div class="row" id="answer_block">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-8"><h3>留言板</h3></div>
					<div class="clo-sm-4">
						<%= link_to question_star_path(@question.id),
						            class: "btn btn-default", id: "star_count", remote:true do %>
							<%= fa_icon('star') %>
							<%= "Like it" %>
							<span class="badge"><%= "#{@question.star}" %></span>
						<% end %>
					</div>
				</div>
				<table class="table">
					<% @comments.each do |comment| %>
						<tr>
							<td><%= comment.content %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
		<hr>
		<hr>
		<div class="row">
			<div class="navbar navbar-inverse navbar-fixed-bottom">
				<div class="navbar-inner">
					<div class="container">
						<div class="row">
							<div class="col-xs-8">
								<%= form_for @comment, url: comment_path, method: :post, remote: true do |f| %>
										<%= f.hidden_field :answer_id, value: "#{@answer.id}" %>
										<%= f.hidden_field :user_id, value: user_id %>
										<%= f.text_area :content, class: "form-control" %>
										<%= f.submit :留言, class: "btn btn-success" %>
								<% end %>
							</div>
							<div class="col-sm-4">
								<%= button_tag "还有#{answer.count-1}和小伙伴和你选择同一边😄",
								               class: "btn btn-success" %>
								<%= link_to :下一个, question_next_path(@question.id), class: "btn btn-success btn-lg" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>